<footer class="page-footer text-center bg-secondary font-small mb-0 p-0 wow fadeIn">
  <div class="footer-copyright py-3">
    <a href="./" target="_blank" class="py-3">Copyright © 2020 Movella</a>
    <br>
    <a href="https://www.freepik.com/photos/house"><small>House photo created by vanitjan - www.freepik.com</small></a>
    <br>
    <a href='https://www.freepik.com/photos/frame'><small>Frame photo created by vanitjan - www.freepik.com</small></a>
    <br>
    <a href='https://www.freepik.com/photos/luxury'><small>Luxury photo created by dit26978 - www.freepik.com</small></a>
  </div>
</footer>